<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.teacher.TeacherCheckHomeworkMapper">

    <resultMap id="homeworkMap" type="com.example.demo.bean.Homework">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="main" property="main" />
        <result column="sdate" property="sdate" />
        <result column="edate" property="edate" />
        <result column="state" property="state"/>
        <result column="judge" property="judge"/>
        <collection property="children1" ofType="com.example.demo.bean.MGCBean" javaType="java.util.ArrayList">
            <result column="class_id" property="class_id" />
            <result column="class_name" property="class_name" />
            <result column="grade_name" property="grade_name" />
            <result column="major_name" property="major_name" />
        </collection>
    </resultMap>

    <resultMap id="HomeworkClassMap" type="com.example.demo.bean.ClassStudent">
        <result column="student_id" property="student_id" />
        <result column="homework_id" property="homework_id" />
        <result column="url" property="url"/>
        <result column="comment" property="comment"/>
        <result column="sclass_id" property="sclass_id" />
        <result column="major_name" property="major_name" />
        <result column="grade_name" property="grade_name" />
        <result column="class_name" property="class_name" />
        <result column="username" property="student_name" />
        <result column="state" property="state" />
        <result column="iscomment" property="iscomment" />
        <result column="judge" property="judge" />
        <result column="title" property="homework_name"/>
        <result column="main" property="homework_main"/>
    </resultMap>


    <!--获取作业们-->
    <select id="getHomeworkInfoByTeacherIdAndCourseId" resultMap="homeworkMap">
          select
          h.*, c.*, g.*, m.*
          from
          homework_info h, homework_course_teacher hct, homework_class hc, class c, grade g, major m
          where
          hct.teacher_id=#{teacherID}
          and
          hct.course_id=#{courseID}
          and
          hct.homework_id=h.id
          and
          hc.homework_id=h.id
          and
          hc.class_id=c.class_id
          and
          c.grade_id=g.id
          and
          g.major_id=m.major_id
    </select>

    <!--获取单个作业的完成情况-->
    <select id="getHomeworkDetail" resultMap="HomeworkClassMap">
          select
          hs.*, si.sclass_id, u.username, c.class_name, g.grade_name, m.major_name
          from
          homework_student hs, student_info si, class c, grade g, major m, user u
          where
          hs.homework_id=#{homeworkID}
          and
          hs.student_id=si.sid
          and
          si.sclass_id=c.class_id
          and
          c.grade_id=g.id
          and
          g.major_id=m.major_id
          and
          si.sid=u.user_id
          and
          si.sclass_id in
          <foreach collection="classList" separator="," open="(" close=")" index="index" item="item">
             (#{item})
          </foreach>
          <if test="allChecked == false">
              and state=#{stateChecked}
              and iscomment=#{commentChecked}
          </if>
          <if test='studentInfo != null and studentInfo != ""'>
              and concat(u.user_id, u.username) LIKE CONCAT ('%', #{studentInfo},'%')
          </if>
        order by si.sclass_id, si.sid
        limit #{page}, #{size}
    </select>

    <!--获得单个作业的数量-->
    <select id="getHomeworkCount" resultType="Int">
        select
        count(*)
        from
        homework_student hs, student_info si, class c, grade g, major m, user u
        where
        hs.homework_id=#{homeworkID}
        and
        hs.student_id=si.sid
        and
        si.sclass_id=c.class_id
        and
        c.grade_id=g.id
        and
        g.major_id=m.major_id
        and
        si.sid=u.user_id
        and
        si.sclass_id in
        <foreach collection="classList" separator="," open="(" close=")" index="index" item="item">
            (#{item})
        </foreach>
        <if test="allChecked == false">
            and state=#{stateChecked}
            and iscomment=#{commentChecked}
        </if>
        <if test='studentInfo != null and studentInfo != ""'>
            and concat(u.user_id, u.username) LIKE CONCAT ('%', #{studentInfo},'%')
        </if>
    </select>

    <select id="getSubmitCount" resultType="Int">
        select count(*)
        from homework_student hs, student_info si
        where hs.homework_id=#{homeworkID}
        and hs.state=1
        and  si.sid=hs.student_id
        <if test='classList.size() != 0'>
            and si.sclass_id in
            <foreach collection="classList" separator="," open="(" close=")" index="index" item="item">
                (#{item})
            </foreach>
        </if>
        and hs.student_id=si.sid
    </select>
    <select id="getNoCheckedCount" resultType="Int">
        select count(*)
        from homework_student hs, student_info si
        where hs.homework_id=#{homeworkID}
        and hs.state=1
        and hs.iscomment=0
        and  si.sid=hs.student_id
        <if test='classList.size() != 0'>
            and si.sclass_id in
            <foreach collection="classList" separator="," open="(" close=")" index="index" item="item">
                (#{item})
            </foreach>
        </if>
        and hs.student_id=si.sid
    </select>
    <select id="getNoSubmitCount" resultType="Int">
        select count(*)
        from homework_student hs, student_info si
        where hs.homework_id=#{homeworkID}
        and hs.state=0
        and  si.sid=hs.student_id
        <if test='classList.size() != 0'>
            and si.sclass_id in
            <foreach collection="classList" separator="," open="(" close=")" index="index" item="item">
                (#{item})
            </foreach>
        </if>
        and hs.student_id=si.sid
    </select>

    <!--修改教师评语，作业内容（以下两条）-->
    <update id="changeHomeworkMain">
        update homework_info set main=#{main} where id=#{homeworkID}
    </update>

    <update id="changeComment">
        update homework_student set comment=#{main} where homework_id=#{homeworkID} and student_id=#{studentID}
    </update>

    <update id="changeStudentScores">
        update homework_student set judge=#{judgeStudent}
            ,comment = #{commentValue}
            ,iscomment = 1
        where homework_id=#{homeworkID} and student_id=#{studentID}
    </update>

    <update id="changeHomeworkDate">
        update homework_info set sdate=#{sdate}, edate=#{edate} where id=#{homeworkID}
    </update>

    <!--彻底删除作业-->

    <delete id="deleteHomeworkInfo">
        delete from homework_info where id=#{homeworkID}
    </delete>

    <select id="exportStudentScoresInfo" resultMap="HomeworkClassMap">
        select
        hs.*, si.sclass_id, u.username, c.class_name, g.grade_name, m.major_name, hi.title, hi.main
        from
        homework_student hs, student_info si, class c, grade g, major m, user u, homework_info hi
        where
        hs.homework_id=#{homeworkID}
        and
        hs.student_id=si.sid
        and
        si.sclass_id=c.class_id
        and
        c.grade_id=g.id
        and
        g.major_id=m.major_id
        and
        si.sid=u.user_id
        and
        si.sclass_id in
        <foreach collection="classList" separator="," open="(" close=")" index="index" item="item">
            (#{item})
        </foreach>
        and hi.id=#{homeworkID}
        order by m.major_name, g.grade_name, c.class_name, u.user_id
    </select>

    <select id="getStudentJudge" resultType="String">
        select judge from homework_info where id=#{homeworkID}
    </select>

</mapper>
